/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* max-width: 1200px; */
    /* position: fixed; */
    top: 0;
    z-index: 10;
    background-color: #1e1e1e;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .header-container {
        height: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }
    #balance {
        font-size: 1rem;
        width: 90px;
    }
}


h2 {
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

#income-header {
    color: #00ffcc;
    border-bottom: 2px solid #00ffcc;
}

#expense-header {
    color: #ff00cc;
    border-bottom: 2px solid #ff00cc;
}

.balance {
    width: 150px;
    padding: 5px;
    background-color: #1e1e1e;
    border: 2px solid #39ff14;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: #39ff14;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    width: 49.8%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input, button {
    width: 22.5rem;
    height: 3em;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.selectable-input-divs, .selectable-output-divs {
    margin: 10px 0;
    width: 22.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.half_buttons {
    width: 22.5rem;
    justify-content: space-around;
    box-sizing: border-box;
    /* color: #121212; */
    text-align: center;
}

#resize_down, #opincome, #resize_up, #opexpense {
    width: calc(50% - 5px);
}

@media (max-width: 768px) {
    input, button {
        width: 90%;
        max-width: 22.5rem;
    }

    .selectable-input-divs, .selectable-output-divs {
        width: 90%;
        max-width: 22.5rem;
    }
    .half_buttons {
        width: 90%;
        max-width: 22.5rem;
    }

    #resize_down, #opincome, #resize_up, #opexpense {
        width: calc(50% - 5px);
    }
}

input {
    background-color: #2a2a2a;
    border: 1px solid #00ffcc;
    color: #f0f0f0;
}

input::placeholder {
    color: #999;
}

button {
    background-color: #00ffcc;
    color: #121212;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#expense, #opexpense, #resize_down {
    background-color: #ff00cc;
}

button:hover {
    background-color: #00ccb3;
}

#expense:hover, #opexpense:hover, #resize_down:hover{
    background-color: #cd03a5;
}

.right input, .right button {
    border-color: #ff00cc;
}


#expense-list {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

#income-list {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Align items to the bottom (right side in a column layout) */
    /* gap: 0.5px; */
    width: 100%; /* Full width of the container */
}

#income-list > div {
    align-self: flex-end; /* Align each item to the right within the flex container */
}



.list-item {
    position: relative; /* Add this to position the ::after pseudo-element correctly */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border: 1px solid #00ffcc;
    color: #f0f0f0;
    border-radius: 5px;
    width: 22pc; /* Adjust as needed */
    overflow: hidden; /* Ensures the pseudo-elements stay within the boundaries */
    --triangle-color: #2a2a2a; /* Default color */
}

.list-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: var(--triangle-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}



@media (max-width: 768px) {
    .list-item {
        width: 100%;
    }
}


.right .list-item {
    border-color: #ff00cc;
}


.list-item .delete-button {
    display: none;
    position: absolute;
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.list-item.show-delete .delete-button {
    display: block;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #00ffcc;
    border-radius: 5px;
    width: 10%;
    z-index: 1000;
    padding: 5px;
    color: #f0f0f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.context-menu button {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    color: #f0f0f0;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #00ffcc; /* Add this line for separation */
}

.context-menu button:hover {
    background-color: #555;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ff4d00;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

.selectable-option {
    width: calc(33% - 5px); /* Two items per row with spacing */
    color: black;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #00ffcc;
    cursor: pointer;
    box-sizing: border-box;
    /* color: #121212; */
    text-align: center;
}

.selectable-option:last-child {
    color: white;
}

.selectable-output-divs .selectable-option {
    border: 1px solid #ff00cc;
}

#income_1, #income_2, #income_3, #income_4, #income_5, #expense_1, #expense_2, #expense_3, #expense_4, #expense_5 {
    background-color: #333;
}

 #income_1, #expense_2 {
    background-color: #00b3ff;
}

#income_2, #expense_3 {
    background-color: #00ff15;
}

#income_3, #expense_5 {
    background-color: #cc00ff;
}

#income_4, #expense_1 {
    background-color: #ffff00;
}

#income_5, #expense_4 {
    background-color: #ff9900;
}

@media (max-width: 768px) {
    .selectable-option {
        width: 70%; 
        margin-left: auto; /* Center items */
        margin-right: auto; /* Center items */
    }
    .selectable-option:last-child {
        width: 70%;
    }
}

#resize_down {
    background-color: #ff00cc;
}
