/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* max-width: 1200px; */
    /* position: fixed; */
    top: 0;
    z-index: 10;
    background-color: #1e1e1e;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .header-container {
        height: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }
    #balance {
        font-size: 1rem;
    }
}


h2 {
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

#income-header {
    color: #00ffcc;
    border-bottom: 2px solid #00ffcc;
}

#expense-header {
    color: #ff00cc;
    border-bottom: 2px solid #ff00cc;
}

.balance {
    width: 150px;
    padding: 5px;
    background-color: #1e1e1e;
    border: 2px solid #39ff14;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: #39ff14;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    width: 49.8%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input, button {
    width: 22.5rem;
    height: 3em;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.selectable-input-divs, .selectable-output-divs {
    margin: 10px 0;
    width: 22.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
@media (max-width: 768px) {
    input, button {
        width: 90%;
        /* height: auto; */
        max-width: 22.5rem;
    }

    .selectable-input-divs, .selectable-output-divs {
        width: 90%;
        max-width: 22.5rem;
    }
}

input {
    background-color: #2a2a2a;
    border: 1px solid #00ffcc;
    color: #f0f0f0;
}

input::placeholder {
    color: #999;
}

button {
    background-color: #00ffcc;
    color: #121212;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#expense {
    background-color: #ff00cc;
}

button:hover {
    background-color: #00ccb3;
}

#expense:hover {
    background-color: #cd03a5;
}

.right input, .right button {
    border-color: #ff00cc;
}

#expense-list {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

#income-list {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Align items to the bottom (right side in a column layout) */
    /* gap: 0.5px; */
    width: 100%; /* Full width of the container */
}

#income-list > div {
    align-self: flex-end; /* Align each item to the right within the flex container */
}



.list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border: 1px solid #00ffcc;
    color: #f0f0f0;
    border-radius: 5px;
    /* width: 19.5em;  */
    /* width: 45%; */
    width: 22pc;
}

@media (max-width: 768px) {
    .list-item {
        width: 100%;
    }
}


.right .list-item {
    border-color: #ff00cc;
}


.list-item .delete-button {
    display: none;
    position: absolute;
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.list-item.show-delete .delete-button {
    display: block;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #00ffcc;
    border-radius: 5px;
    width: 10%;
    z-index: 1000;
    padding: 5px;
    color: #f0f0f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.context-menu button {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    color: #f0f0f0;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #00ffcc; /* Add this line for separation */
}

.context-menu button:hover {
    background-color: #555;
}

.selectable-option {
    width: calc(50% - 5px); /* Two items per row with spacing */
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #00ffcc;
    cursor: pointer;
    box-sizing: border-box;
    /* color: #121212; */
    text-align: center;
}

.selectable-output-divs .selectable-option {
    border: 1px solid #ff00cc;
}

.selectable-option:nth-child(5) {
    width: calc(50% - 5px); /* Two items per row with spacing */
    margin-left: auto; /* Pushes it to the right edge */
    margin-right: auto; /* Pushes it to the left edge */
}

#income_1, #income_2, #income_3, #income_4, #income_5, #expense_1, #expense_2, #expense_3, #expense_4, #expense_5 {
    background-color: #333;
}

/* #income_1, #expense_4 {
    background-color: #bbbb00;
}

#income_2, #expense_3 {
    background-color: #800000; 
}

#income_3, #expense_2 {
    background-color: #1f7a00;
}

#income_4, #expense_1 {
    background-color: #e68a00;
} */

/* #income_5, #expense_1 {
    background-color: #d97b00;
} */

@media (max-width: 768px) {
    .selectable-option {
        width: 70%;  /*calc(50% + 5px); /* Two items per row with spacing */
        margin-left: auto; /* Center items */
        margin-right: auto; /* Center items */
    }
    .selectable-option:last-child {
        width: 70%;
    }
}

#rezise_down {
    background-color: #ff00cc;
}